node_modules
.DS_Store
.sass-cache
npm-debug.log
assets/scripts/build/build.js
assets/styles/build/build.css
assets/images/*.jpg
assets/images/*.png
assets/images/*.svg
assets/images/*.gif
assets/images/*.ico
.env.php
